@import "../global/variable";
@import "../global/mixin";

.button {
  align-items: center;
  background-color: $green-color;
  border: 1px solid currentColor;
  border-radius: 2.5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .09);
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-family: RobotoBold, sans-serif;
  font-size: 16px;
  justify-content: center;
  height: 48px;
  width: 100%;
  padding: 0 30px;

  &.fill {
    background-color: $primary-color;
    border: solid 1px #d59003;
    color: $white;

    &:hover {
      background-color: #ffbe38;
      border-color: transparent;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
      transition: all 0.2s ease-in-out;
    }
  }

  &.full {
    width: 100%;
  }

  &.disabled,
  &[disabled] {
    background-color: rgba(#cccaca, .7);
    border-color: transparent;
    box-shadow: none;
    color: $white;
    cursor: default;
    pointer-events: none;
  }

  &.radius {
    border-radius: 50px;
  }

  &.small-height {
    font-size: 15px;
    height: 38px;
  }

  svg {
    vertical-align: middle;
  }

  &:hover {
    background-color: $secondary-color;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
    border-color: transparent;
    color: $white;
    transition: all 0.2s ease-in-out;
  }

  &:focus{
    outline: none;
  }
}

.text-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.align-left {
    text-align: left;
  }

  &.w100 {
    width: 100%;
  }

  &:focus {
    outline: none;
  }
}
